.top_nav{
    height: 80px;
    background-color: red;
    text-align: right;
    li{
        display: inline-block;
        margin: 0 5px;
        a{
            display: block;
            padding: 30px;
            color: white;
            border-radius: 14px;
            border: 1px solid white;
        }
        
    }

}